.navbar {
  display: flex;
  justify-content: center;
}

.navbar__container-top {
  width: 100%;
  max-width: 1400px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.navbar__logo {
  width: 180px;
}

.navbar__username {
  color: black;
}

.navbar__button-top {
  font-size: 13px;
  margin-left: 20px;
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 10px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px;
  background-color: rgb(0, 140, 255);
  transition: background-color 0.4s, color 0.4s, font-size 0.4s;
}

.navbar__button-top:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 140, 255);
  border: 1px solid rgb(0, 140, 255);
  font-size: 14px;
}
